.input {
  padding: 12px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid transparent;
  outline: none;
}
.input:hover,
.input:focus {
  border: 1px solid orange;
}

.btn {
  width: 120px;
  padding: 12px;
  color: #fff;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color linear 300ms;
}

.btn:hover {
  color: orange;
  background-color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
